.guessContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.guess{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 0.9rem;
    animation-name: fadeout;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;} 
 } 