.toolbarContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brushesContainer {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    align-items: center;
}

.brush {
    border-radius: 50%;
    background-color: rgb(49, 47, 47);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.brush:hover{
    transform: scale(1.08);
}

.paletteContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 180px;
    margin-bottom: 0.4rem;
}

.colorBlotch{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 4px 1px rgb(0, 0, 0, 0.15);
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
}

.colorBlotch:hover{
    transform: scale(1.08)
}

.selected::after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: white;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.controlsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff4e6;
    border-radius: 6px;
    padding: 0.3rem;
}

.controlBtn{
    background: none;
    border: none;
    color: var(--lightorange);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.controlBtn:hover{
    transform: scale(1.08)
}