.toolbarContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brushesContainer {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    align-items: center;
}

.paletteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 120px;
}