*, :root{
  box-sizing: border-box;
  --offWhite: #fcfcfc;
}

body {
  margin: 0;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(255, 235, 144); */
  background-color: rgb(255, 196, 128);
  background-image: url('assets/svg/cloud.svg');
  background-repeat: repeat;
  background-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
